html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  background-color: white;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  margin: 1rem;
}

footer {
  margin: 4rem;
  font-size: 1.5em;
  line-height: 5px;
  padding-bottom: 1em;
}

.hero-banner {
  width: 100%;
  height: 80vh;
  background-color: #000;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center
  center;
  background-size: cover;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1.25em; 0;
  display: flex;
  justify-content: center;
  background: pink;
  font-size: 2.5rem;
}

nav ul li {
  padding: .5em;
}

nav ul li a {
  text-decoration: none;
  padding: 1em;
  border-radius: 2em;
  color: black;
}

nav ul li a:hover {
  background-color: black;
  color: white;
  font-weight: 500;
}

h2 {
  text-align: center;
  background: pink;
  font-size: 3.5rem;
  padding: 1rem;
  font-weight: 400;
}

.img-and-text {
  display: flex;
  justify-content: center;
  padding-right: 50em;
}

.about-me img {
  width: 20%;
  height: 20%;
  border-radius: 100%;
}

.about-me p {
  padding-left: 25em;
  padding-right: 2em;
  font-size: 1.8rem;
  }

.my-work ul {
  max-width: 2000px;
  margin: 0 auto;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0;
}

ul > li > img {
  max-width: 100em;
  align-self: center;
  margin-top: 1rem;
  width: 100%;
  height: 30vw;
  object-fit: cover;
  border-radius: 2em;
}

ul > li > img:hover {
  border-style: solid;
}
